
.App {
  text-align: center;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  height: 97.7vh;
  width:95vw;
  
}

@media (max-width: 600px) {
  .App {

    font-size: medium;
    padding: 10px;

  }
}
