body {
  margin: 0;
  height: 100vh; /* 100% of the viewport height */
  width: 100vw;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
